In [1]:
import pandas as pd

In [2]:
df_pre_process = pd.read_excel(r'C:\Users\mural\Desktop\Jaivinayaka\pre_processes.xlsx')

In [4]:
df_pre_process.head()

,Unnamed: 0,Federal government,Local government,Never worked,Not in universe,Private,Self-employed-incorporated,Self-employed-not incorporated,State government,Without pay,...,family_members_under_18_Father only present,family_members_under_18_Mother only present,family_members_under_18_Neither parent present,family_members_under_18_Not in universe,citizenship_Foreign born- U S citizen by naturalization,citizenship_Native- Born abroad of American Parent(s),citizenship_Native- Born in Puerto Rico or U S Outlying,citizenship_Native- Born in the United States,fill_questionnaire_veteran_admin_Not in universe,fill_questionnaire_veteran_admin_Yes
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,1,1,0
2,2,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,3,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,4,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [6]:
df_pre_process.shape

(199523, 113)

In [8]:
df_pre_process.describe()

,Unnamed: 0,Federal government,Local government,Never worked,Not in universe,Private,Self-employed-incorporated,Self-employed-not incorporated,State government,Without pay,...,family_members_under_18_Father only present,family_members_under_18_Mother only present,family_members_under_18_Neither parent present,family_members_under_18_Not in universe,citizenship_Foreign born- U S citizen by naturalization,citizenship_Native- Born abroad of American Parent(s),citizenship_Native- Born in Puerto Rico or U S Outlying,citizenship_Native- Born in the United States,fill_questionnaire_veteran_admin_Not in universe,fill_questionnaire_veteran_admin_Yes
count,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,...,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000
mean,99761.000000,0.014660,0.039013,0.002200,0.502423,0.361001,0.016364,0.042326,0.021186,0.000827,...,0.009438,0.064013,0.008285,0.722884,0.029345,0.008801,0.007613,0.887076,0.990056,0.001960
std,57597.473217,0.120188,0.193626,0.046855,0.499995,0.480292,0.126871,0.201332,0.144003,0.028745,...,0.096688,0.244776,0.090643,0.447575,0.168772,0.093400,0.086921,0.316501,0.099221,0.044225
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49880.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
50%,99761.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,149641.500000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,199522.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

In [11]:
from sklearn.model_selection import train_test_split

In [113]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [114]:
feature_selection=SelectFromModel(RandomForestClassifier(n_estimators=100))

In [115]:
feature_selection.fit(X_train,y_train)

SelectFromModel(estimator=RandomForestClassifier())

In [49]:
selected_feat= X_train.columns[(feature_selection.get_support())]
len(selected_feat)

25

In [50]:
selected_feat

Index([                             'weeks_worked_in_year',
                               'business_or_self_employed',
                                                     'age',
                                    'dividend_from_Stocks',
                                           'wage_per_hour',
                                          'capital_losses',
                              'num_person_Worked_employer',
                                           'capital_gains',
                                              'Unnamed: 0',
                                                 'Private',
                                               'education',
                                   'major_occupation_code',
                                     'major_industry_code',
                                          'country_father',
                                          'country_mother',
                                 'd_household_family_stat',
                                           'industry_code',
                                         'occupation_code',
                                                         0,
          'marital_status_Married-civilian spouse present',
                                                'sex_Male',
                   'member_of_labor_union_Not in universe',
                    'tax_filer_status_Joint both under 65',
       'full_parttime_employment_stat_Full-time schedules',
                         'd_household_summary_Householder'],
      dtype='object')

In [52]:
model=RandomForestClassifier()

In [116]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [117]:
y_pred=model.predict(X_test)

In [57]:
from sklearn.metrics import accuracy_score

In [118]:
accuracy_score(y_pred,y_test)

0.9530046611089764

In [ ]:
0.9518352072439313

In [39]:
X= df_pre_processed.drop(['income_level'],axis=1)

In [42]:
y=df_pre_processed['income_level']

In [32]:
df_pre_processed.columns.get_loc("income_level")

10

In [43]:
y.head()

0   -50000
1   -50000
2   -50000
3   -50000
4   -50000
Name: income_level, dtype: int64

In [60]:
predicting_features=df_pre_processed[['weeks_worked_in_year','business_or_self_employed','age',
                                    'dividend_from_Stocks',
                                           'wage_per_hour',
                                          'capital_losses',
                              'num_person_Worked_employer',
                                           'capital_gains',
                                              'Unnamed: 0',
                                                 'Private',
                                               'education',
                                   'major_occupation_code',
                                     'major_industry_code',
                                          'country_father',
                                          'country_mother',
                                 'd_household_family_stat',
                                           'industry_code',
                                         'occupation_code',
                                                         0,
          'marital_status_Married-civilian spouse present',
                                                'sex_Male',
                   'member_of_labor_union_Not in universe',
                    'tax_filer_status_Joint both under 65',
       'full_parttime_employment_stat_Full-time schedules',
                         'd_household_summary_Householder']]

Only with 5 features

In [103]:
X1=predicting_features.iloc[:,0:6]

In [89]:
X1.shape

(199523, 6)

In [90]:
y1=df_pre_processed['income_level']

In [91]:
y1.shape

(199523,)

In [104]:
X1_train,X1_test,y1_train,y1_test=train_test_split(X1,y1,test_size=0.3)

In [105]:
model1=RandomForestClassifier()

In [106]:
model1.fit(X1_train,y1_train)

RandomForestClassifier()

In [107]:
y1_pred=model1.predict(X1_test)

In [108]:
accuracy_score(y1_pred,y1_test)

0.9369330237065004

In [102]:
X2=predicting_features.iloc[:,0:11]
y2=df_pre_processed['income_level']
X2_train,X2_test,y2_train,y2_test=train_test_split(X2,y2,test_size=0.3)
model1.fit(X2_train,y2_train)
y2_pred=model1.predict(X2_test)
accuracy_score(y2_pred,y2_test)

0.942379337420853

In [101]:
X3=predicting_features.iloc[:,0:16]
y3=df_pre_processed['income_level']
X3_train,X3_test,y3_train,y3_test=train_test_split(X3,y3,test_size=0.3)
model1.fit(X3_train,y3_train)
y3_pred=model1.predict(X3_test)
accuracy_score(y3_pred,y3_test)

0.9478590641027783

In [109]:
X4=predicting_features.iloc[:,0:21]
y4=df_pre_processed['income_level']
X4_train,X4_test,y4_train,y4_test=train_test_split(X4,y4,test_size=0.3)
model1.fit(X4_train,y4_train)
y4_pred=model1.predict(X4_test)
accuracy_score(y4_pred,y4_test)

0.9510165895383998

In [110]:
X5=predicting_features.iloc[:,0:26]
y5=df_pre_processed['income_level']
X5_train,X5_test,y5_train,y5_test=train_test_split(X5,y5,test_size=0.3)
model1.fit(X5_train,y5_train)
y5_pred=model1.predict(X5_test)
accuracy_score(y5_pred,y5_test)

0.9518352072439313

In [17]:
import pandas as pd
cleaned_income_data=pd.read_excel(r'C:\Users\mural\Desktop\Jaivinayaka\misslenious\income_data.xlsx',index_col=0)
# cleaned_income_data.head()

In [18]:
df_int_columns=cleaned_income_data[['weeks_worked_in_year', 'business_or_self_employed', 'age', 'dividend_from_Stocks','year', 'wage_per_hour',
 'capital_losses',
 'num_person_Worked_employer',
 'capital_gains',
 'veterans_benefits',
 'income_level']]

In [20]:
df_pre_processed=pd.concat([df_int_columns,df_pre_process],axis=1)

In [21]:
df_pre_processed.head()

,weeks_worked_in_year,business_or_self_employed,age,dividend_from_Stocks,year,wage_per_hour,capital_losses,num_person_Worked_employer,capital_gains,veterans_benefits,...,family_members_under_18_Father only present,family_members_under_18_Mother only present,family_members_under_18_Neither parent present,family_members_under_18_Not in universe,citizenship_Foreign born- U S citizen by naturalization,citizenship_Native- Born abroad of American Parent(s),citizenship_Native- Born in Puerto Rico or U S Outlying,citizenship_Native- Born in the United States,fill_questionnaire_veteran_admin_Not in universe,fill_questionnaire_veteran_admin_Yes
0,0,0,73,0,95,0,0,0,0,2,...,0,0,0,1,0,0,0,1,1,0
1,52,0,58,0,94,0,0,1,0,2,...,0,0,0,1,0,0,0,1,1,0
2,0,0,18,0,95,0,0,0,0,2,...,0,0,0,1,0,0,0,0,1,0
3,0,0,9,0,94,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,0,0,10,0,94,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

XGBoost Classifier

In [129]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.2.1-py3-none-win_amd64.whl (86.5 MB)
Requirement already satisfied: numpy in c:\users\mural\anaconda3\lib\site-packages (from xgboost) (1.18.5)
Requirement already satisfied: scipy in c:\users\mural\anaconda3\lib\site-packages (from xgboost) (1.5.0)
Installing collected packages: xgboost
Successfully installed xgboost-1.2.1
Note: you may need to restart the kernel to use updated packages.

In [130]:

from xgboost import XGBClassifier

In [133]:
Xg1=predicting_features.iloc[:,0:6]
yg1=df_pre_processed['income_level']
X1_train,X1_test,y1_train,y1_test=train_test_split(Xg1,yg1,test_size=0.3)
model1=XGBClassifier()
model1.fit(X1_train,y1_train)
y1_pred=model1.predict(X1_test)
accuracy_score(y1_pred,y1_test)

0.9412767094909534

In [136]:
Xg2=predicting_features.iloc[:,0:11]
yg2=df_pre_processed['income_level']
X2_train,X2_test,y2_train,y2_test=train_test_split(Xg2,yg2,test_size=0.3)
model2=XGBClassifier()
model2.fit(X2_train,y2_train)
y2_pred=model2.predict(X2_test)
accuracy_score(y2_pred,y2_test)

0.949061930935396

In [137]:
Xg3=predicting_features.iloc[:,0:16]
yg3=df_pre_processed['income_level']
X3_train,X3_test,y3_train,y3_test=train_test_split(Xg3,yg3,test_size=0.3)
model3=XGBClassifier()
model3.fit(X3_train,y3_train)
y3_pred=model3.predict(X3_test)
accuracy_score(y3_pred,y3_test)

0.9515010775682042

In [138]:
Xg4=predicting_features.iloc[:,0:21]
yg4=df_pre_processed['income_level']
X4_train,X4_test,y4_train,y4_test=train_test_split(Xg4,yg4,test_size=0.3)
model4=XGBClassifier()
model4.fit(X4_train,y4_train)
y4_pred=model4.predict(X4_test)
accuracy_score(y4_pred,y4_test)

0.953873398265867

In [139]:
Xg5=predicting_features.iloc[:,0:26]
yg5=df_pre_processed['income_level']
X5_train,X5_test,y5_train,y5_test=train_test_split(Xg5,yg5,test_size=0.3)
model5=XGBClassifier()
model5.fit(X5_train,y5_train)
y5_pred=model5.predict(X5_test)
accuracy_score(y5_pred,y5_test)

0.9538399852982943